body{
    background: #f4f4f4;
}
.container{
    background-color:#ffffff;
    margin-top: 30px;
    height: 31px;
}

.detail{
    background-color:#ffffff;
    margin-top: 10px;
    height: 800px;
}
.telephone{
    height: 361px;
    width: 361px;
    /* background-color: rgb(133, 98, 98); */
    background-image: url(images/samsung.jpg);
    background-size: contain;
    margin: 30px;
    float: left;
}
.infoPrix{
    width: 425px;
    height: 770px;
    /* background-color: #2c0606; */
    margin-top: 30px;
    font-family: 15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
}
.infoLivraison{
    width: 243px;
    height: 410px;
    background-color: #ffffff;
    margin-top: 30px;
    border:1px solid  grey;
    font-family: 15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
}
.produitStock{
    height:30px;
    width: 243px;
    background-color: black;
}
.livraison{
    height: 252px;
    width: 211px;
    margin: 15px auto;
    
}
.l{
    text-align: center;
}
.l p{
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.l p .g{
    font-size: 15px;
    margin-right: 5px;
}
.l p .d{
    font-size: 15   px;
    margin-left: 5px;
}
button{
    width: 211px;
    height: 50px;
}
.nbProduit{
    color: #ffffff;
}

.infoRecondition{
    width: 243px;
    height: 108px;
    background-color: #ffffff;
    margin-top: -10px;
    border:1px solid  grey;
    font-family: 15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    box-shadow: 0 4px 5px -2px gray;
}
h1{
    font-size: 25px;
}
.etoile{
    color: grey;
}
.checked {
    color:#333333;
  }
  .prixBarre{
      margin-top: 20px;
  }
  .couleur{
      height:40px;
      width: 100%;
      margin-top: 20px;
  }
  .rondeur{
    height:40px;
    width: 40px;
    background: #ac0e0e;
    margin-right: 5px;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
}
.fleche{
    height:40px;
    width: 40px;
    background: #7c7777;
    margin-right: 5px;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
}
.cd{
    margin: 9px 10px 10px 10px;
}
.giga{
    height:40px;
    width: 40px;
    background: #ffffff;
    float: left;
    margin: 10px 20px auto;
}
.bleu{
    height:40px;
    width: 40px;
    background: blue;
    margin-right: 5px;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
}
.gris{
    height:40px;
    width: 40px;
    background: rgb(107, 107, 112);
    margin-right: 5px;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
}
.rose{
    height:40px;
    width: 40px;
    background: rgb(116, 213, 216);
    margin-right: 5px;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
}
div{
margin-bottom: 32px;
}

.prixCouleur{
    height:40px;
    width: 100%;
    margin-top: 20px;
}
.carre{
    height:47px;
    width: 78px;
    background: #ebfaf4;
    margin-right: 5px;
    border: 2px solid #c6f2e0;
    float: left;
    color: #52d6a1;
}
.carre p{
    text-align: center;
}
.bonPlan{
    float:right;
    margin-right: 20px;
    margin-top: -30px;
    text-transform: capitalize;
    font-weight: bold;
}
.commentaire{
    border-left: 3px solid #52d6a1;
    padding-left: 5px;
    font-size: 15px;
}
.commentaireReconditionneur{
    padding-left: 5px;
    font-size: 15px;
}
.contact{
    margin-top: -40px;
    height: auto;
}
.appel{
    width: 100%;
    height: 60px;
    margin: 0px 10px 0px 15px;
    margin-bottom: 40px;
}
.appel span{
    font-size: 40px;
    margin-right: 30px;
}
.appel button{
    background: #52d6a1;
    font-weight: bold;
    margin-left: 30px;
    border: none;
}
.appel p{
   margin-top: 5px;
}
.verification {
    margin-left: 10px;
    font-size: 17px;
}
.optionAppareil{
    height: 139px;
    width: 1082px;
}
.col ul{
    list-style: none;
}
.confiance{
    height: auto;
    margin-top: -10px;
    background: #f4f4f4;
}
.palmares{
    height: 139px;
    width: 1082px;
}
.palmares span,i{
    font-size: 50px;
    margin-bottom: 5px;
    text-align: center;
    
}
.palmares p{
    text-align: center;
}
.bruit{
    height: 139px;
    width: 1082px;
}
.bruit button{
    background: none;
    border: 1px solid grey;
}
.bruit button p{
    color: #333333;
}
.ligne{
    margin-top: -40px;
    border: 1px solid rgba(110, 107, 107,0.2);
}
.menu{
    padding-top: 5px;
    color: rgb(197, 189, 190);
    height: 100%;
}
.menu p{
    color: pink;
}