.m {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.m p {
  margin-left: 10px;
  margin-top: 15px;
}

.col-md-3 {
  margin-bottom: 20px;
}

body {
  background-color: #f4f4f4;
  font-size: 13px;
}

.serviceIcon_3L7cq {
  width: 25%;
}

.knowabout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.titlewrap {
  margin-top: 1.6em;
}

.productdescription {
  background-color: white;
}

.productdescription h2 {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.opinions {
  background-color: white;
  height: 100%;
}

.dark[data-v-5ba25883] {
  border: 2px solid #d8d8d8;
}

.DividerSmall_pRvwf {
  margin: 1rem 0;
}

.Divider_3CKDu {
  height: 0.15rem;
  background: #e6eaf2;
}

.liv {
  margin-top: 170px;
}

.icon-tiny {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
}

.feature-content {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding: 1.5rem 2rem 1.5rem 0.5rem;
  margin-left: 37px;
  margin-top: -20px;
}

.prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
}

.price {
  font-weight: 500;
  font-size: 2rem;
  color: #333;
  padding-right: 8px;
}

.old_price {
  color: #979797;
  font-weight: 400;
}

.discount {
  margin-top: 6px;
  font-weight: 500;
}

.discountpourcent {
  margin-top: -7px;
}

.guaranty {
  cursor: pointer;
  margin-top: -2px;
  font-size: 0.9em;
}

.eco {
  cursor: pointer;
  margin-top: 3px;
  font-size: 0.9em;
}

.ecorespo {
  margin-top: -16px;
}

.look {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.look a {
  background-color: #fd595e;
}

.button[data-v-eca29884] {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  padding: 0 4rem;
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-text {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  padding: 0 6rem;
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bestoffer {
  padding-top: 53px;
  padding-bottom: 30px;
}

.comment {
  background-color: white;
  padding-top: 20px;
  height: 100%;
}

.comment strong {
  font-size: 1rem;
  margin-right: 1rem;
}

.icon_2z8AD {
  height: 1rem;
  width: 1rem;
}
.note {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.comment p {
  margin-top: 10px;
  margin-left: 10px;
  color: #979797;
}

.productsdisplay {
  background-color: white;
  border: 1px solid #e7ebf3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phoneprice {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.phoneprice strong {
  color: red;
  margin-bottom: 6px;
}
.phoneprice small {
  color: #979797;
}

.imgphone {
  padding-top: 34px;
  padding-bottom: 20px;
}

.imgphone img {
  max-width: 100%;
}

.buttonn {
  box-shadow: 0 0 0 0.1rem #4a4a4a;
  background: transparent;
  margin-top: 404px;
  margin-bottom: 20px;
  border-radius: 1px;

  width: 80%;
  padding-top: 16px;
  padding-bottom: 12px;
}

.butcom {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navprincipal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  padding-bottom: 17px;
}

.secendarynav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.latest-comment {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-bottom: 30px;
}

.leftside {
  min-width: 45%;
}

.rightside {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;
}

.fontswraper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.fontswraper span {
  font-size: 0.8em;
}

.fonts {
  color: green;
  size: 1px;
}

.fas {
  height: 38px;
  font-size: 10px;
}

.leftside img {
  width: 30px;
  border: 1px grey;
}

.profile {
  display: flex;
  flex-direction: row;
}

.divimg {
  width: 30px;
  margin-right: 5px;
  margin-top: 10px;
}

.leftside strong {
  margin-right: 10px;
}

.informations p,
h4 {
  padding-top: 30px;
  color: #b2b2b2;
}

.li {
  padding-top: 30px;
  color: #b2b2b2;
}

.footer {
  margin-top: 50px;
  background-color: #333;
  width: 100%;
  align-content: center;
}

.footer p {
  color: white;
  text-align: left;
}

.container-fluid {
  background-color: #333;
}

.footerabout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.footerabout span {
  color: white;
  padding-bottom: 30px;
  font-size: 14px;
}

.ulabout li {
  list-style: none;
  color: white;
  padding: 0;
  margin-top: 10px;
  font-size: 9px;
  text-align: start;
}

.ulabout {
  padding: 0px;
  margin: 0px;
}

.socials {
  display: flex;
  min-width: 100px;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-bottom: 50px;
}

.flag {
  height: 20px;
  width: 30px;
}
