.background_page {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}
#nav {
  background-color: #202020;
  height: 137px;
  width: 1692px;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
}
.research {
  background-color: white;
  width: 915px;
  height: 56px;
  padding: 12px;
  margin-left: 53px;
  margin-top: 12px;
}
.research_logo {
  background-color: white;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0px;
  top: 4px;
  right: 41px;
}

/*******************************************************/
#revendre {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 441px;
}
#qualite {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 352px;
}

#se_connecter {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 150px;
}
#service_client {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 260px;
}
#panier {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 44px;
}
.text_panier {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  right: 11px;
  color: white;
  font-size: 14px;
}
.text_revendre {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  right: 406px;
  color: white;
  font-size: 14px;
}
.text_se_connecter {
  height: 30px;
  position: absolute;
  top: 40px;
  right: 88px;
  color: white;
  font-size: 14px;
}
.text_service_client {
  height: 30px;
  position: absolute;
  top: 40px;
  right: 199px;
  color: white;
  font-size: 14px;
}

.text_qualite {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  right: 316px;
  color: white;
  font-size: 14px;
}
#revendre {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 441px;
}
#qualite {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 352px;
}
#se_connecter {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 150px;
}
#service_client {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 260px;
}
#panier {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 24px;
  right: 44px;
}
.text_panier {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  right: 11px;
  color: white;
  font-size: 14px;
}
.text_revendre {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  right: 406px;
  color: white;
  font-size: 14px;
}
.text_se_connecter {
  height: 30px;
  position: absolute;
  top: 40px;
  right: 88px;
  color: white;

  font-size: 14px;
}
.text_service_client {
  height: 30px;
  position: absolute;
  top: 40px;
  right: 199px;
  color: white;
  font-size: 14px;
}

.text_qualite {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  right: 316px;
  color: white;
  font-size: 14px;
}
/*******************************************************/
#transparent {
  display: none;
}

#text_rouge {
  color: red;
}
#menu_produit {
  margin-top: 48px;
  bottom: 7px;
  position: relative;
}

/*******************************************************/
#text_rouge2 {
  color: red;
}
#text_rouge2:hover {
  color: grey;
}
.lien_produit {
  display: inline-block;
  background-color: #202020;
  width: 95px;
  font-size: 14px;
  margin: -8px;
  position: relative;
  color: white;
  right: 11px;
  height: 8px;
  font-weight: bold;
}
.lien_produit:hover {
  color: grey;
}

.lien_samsung_galaxy {
  display: inline-block;
  background-color: #202020;
  width: 118px;
  font-size: 14px;
  margin: 2px;
  position: relative;
  height: 8px;
  right: 17px;
  color: white;
  bottom: 8px;
  font-weight: bold;
}
.lien_samsung_galaxy:hover {
  color: grey;
}
.lien_google_pixel {
  display: inline-block;
  background-color: #202020;
  margin-left: 6px;
  width: 91px;
  margin-right: -5px;
  font-size: 14px;
  margin: 2px;
  position: relative;
  right: 16px;
  color: white;
  bottom: 8px;
  font-weight: bold;
}
.lien_google_pixel:hover {
  color: grey;
}

.lien_huawei {
  display: inline-block;
  background-color: #202020;
  margin-left: 6px;
  width: 64px;
  margin-right: -5px;
  font-size: 14px;
  margin: 2px;
  position: relative;
  right: 21px;
  color: white;
  bottom: 8px;
  font-weight: bold;
}
.lien_huawei:hover {
  color: grey;
}

.lien_ordinnateur {
  display: inline-block;
  background-color: #202020;
  margin-left: 6px;
  width: 76px;
  margin-right: -5px;
  font-size: 14px;
  margin: 2px;
  position: relative;
  right: 30px;
  color: white;
  bottom: 8px;
  font-weight: bold;
}
.lien_ordinnateur:hover {
  color: grey;
}

.lien_back_to_school {
  display: inline-block;
  background-color: #202020;
  margin-left: 6px;
  width: 107px;
  margin-right: -5px;
  font-size: 14px;
  margin: 18px;
  position: relative;
  right: -1px;
  bottom: 8px;
  font-weight: bold;
}

.lien_panda_phone {
  display: inline-block;
  background-color: #202020;
  width: 94px;
  font-size: 14px;
  margin: 2px;
  position: relative;
  height: 8px;
  right: 17px;
  color: white;
  bottom: 8px;
  font-weight: bold;
}
.lien_panda_phone:hover {
  color: grey;
}

.lien_smartphone {
  display: inline-block;
  background-color: #202020;
  width: 94px;
  font-size: 14px;
  margin: 2px;
  position: relative;
  height: 8px;
  right: 17px;
  color: white;
  bottom: 8px;
  font-weight: bold;
}
.lien_smartphone:hover {
  color: grey;
}

/*******************************************************/
